<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.games.mapper.BannerMapper">

  <resultMap id="BaseResultMap" type="com.one.games.domain.entity.Banner">
    <id column="banner_id" jdbcType="INTEGER" property="bannerId" />
    <result column="banner_type" jdbcType="VARCHAR" property="bannerType" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="banner_img" jdbcType="VARCHAR" property="bannerImg" />
  </resultMap>

  <resultMap id="getBanner" type="com.one.games.domain.vo.BannerVo">
    <id property="bannerId" column="banner_id"/>
    <result property="bannerImg" column="banner_img"/>
    <result property="gameId" column="game_id"/>
  </resultMap>
  <!--获取轮播-->
  <select id="geiBanner" resultMap="getBanner">
    SELECT b.game_id, b.banner_img, b.banner_id
    FROM banner b
    WHERE  b.banner_status=0 AND b.banner_type = '${type}'
  </select>
</mapper>