<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.games.mapper.GameMapper">

  <resultMap id="GameResultMap" type="com.one.games.domain.vo.GameVo">
    <id column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="game_status" jdbcType="INTEGER" property="gameStatus" />
    <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />

    <collection property="gameImgs"
                resultMap="com.one.games.mapper.GameImgMapper.GameImgResultMap">
    </collection>
  </resultMap>

  <!-- 图片画廊 -->
  <select id="findByGame" resultMap="GameResultMap">
    select g.game_id,g.game_name,img.game_img_url ,img.game_img_id
      from game g
    left join game_img img on g.game_id = img.game_id
    where img.game_img_status = 0 and g.game_status = 0
  </select>


  <!--首页网游推荐-->
  <select id="homeOnlineGameInf" resultMap="bastGame">
    select g.game_id, g.game_name, img.game_img_url
    from game g
      LEFT JOIN game_img img ON g.game_id = img.game_id
    WHERE g.game_status = 0 AND g.game_type_id = 1 AND img.game_img_status = 0;
  </select>

  <resultMap id="bastGame" type="com.one.games.domain.vo.GameVo">
    <id property="gameId" column="game_id"/>
    <result property="gameName" column="game_name"/>
    <result property="gameDetails" column="game_deatils"/>
    <result property="gameGrade" column="game_grade"/>
    <collection property="gameImgs" ofType="com.one.games.domain.entity.GameImg">
      <id property="gameImgId" column="game_img_id"/>
      <result property="gameImgUrl" column="game_img_url"/>
    </collection>
  </resultMap>

  <!--首页最佳游戏榜前四-->
  <select id="bastGame" resultMap="bastGame">
    SELECT g.game_id, g.game_name, g.game_details, g.game_grade, img.game_img_url
    FROM game g
      LEFT JOIN game_img img ON g.game_id = img.game_id
    WHERE g.game_status = 0 ORDER BY g.game_grade DESC LIMIT 4
  </select>



    <!--游戏完整的信息-->
    <resultMap id="gameInf" type="com.one.games.domain.vo.GameVo">
        <id property="gameId" column="game_id"/>
        <result property="gameName" column="game_name"/>
        <result property="gameDetails" column="game_details"/>
        <result property="gameGrade" column="game_grade"/>
        <association property="gameDetailsVo" javaType="com.one.games.domain.vo.GameDetailsVo">
            <id property="gameDetailsId" column="game_details_id"/>
            <result property="gameDetailsSum" column="game_details_sum"/>
            <result property="gameDetailsCretime" column="game_details_cretime"/>
            <result property="gameDetailsDownl" column="game_details_downl"/>
            <association property="gameConf" javaType="com.one.games.domain.entity.GameConf">
                <id property="gameConfId" column="game_conf_id"/>
                <result property="gameConfRecomOs" column="game_conf_recom_os"/>
                <result property="gameConfRecomCpu" column="game_conf_recom_cpu"/>
                <result property="gameConfRecomMem" column="game_conf_recom_mem"/>
                <result property="gameConfRecomGra" column="game_conf_recom_gra"/>
                <result property="gameConfRecomInter" column="game_conf_recom_inter"/>
                <result property="gameConfLowOs" column="game_conf_low_os"/>
                <result property="gameConfLowCpu" column="game_conf_low_cpu"/>
                <result property="gameConfLowMem" column="game_conf_low_mem"/>
                <result property="gameConfLowGar" column="game_conf_low_gar"/>
                <result property="gameConfLowInter" column="game_conf_low_inter"/>
            </association>
        </association>
        <collection property="gameImgs" ofType="com.one.games.domain.entity.GameImg">
            <id property="gameImgId" column="game_img_id"/>
            <result property="gameImgUrl" column="game_img_url"/>
        </collection>
    </resultMap>
  <select id="gameInf" resultMap="gameInf" >
    select g.game_id, g.game_name, g.game_details, g.game_grade,
        im.game_id, im.game_img_url, gc.game_conf_recom_os, gc.game_conf_recom_cpu,
        gc.game_conf_recom_mem, gc.game_conf_recom_gra, gc.game_conf_recom_inter,
        gc.game_conf_low_os, gc.game_conf_low_cpu, gc.game_conf_low_mem, gc.game_conf_low_gar,
        gc.game_conf_low_inter, de.game_details_sum, de.game_details_cretime, de.game_details_downl
    from game g
    LEFT JOIN game_img im ON g.game_id = im.game_id
    LEFT JOIN game_conf gc ON g.game_id = gc.game_id
    LEFT JOIN game_details de ON g.game_id = de.game_id
    WHERE g.game_id = #{gameId};
  </select>

    <!--关联gameDetails-->
    <resultMap id="BaseResultMap" type="com.one.games.domain.vo.GameVo">
        <id column="game_id" jdbcType="INTEGER" property="gameId" />
        <result column="game_name" jdbcType="VARCHAR" property="gameName" />
        <result column="game_status" jdbcType="INTEGER" property="gameStatus" />
        <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />
        <result column="game_id" property="gameId"/>
        <association property="gameDetailsVo" javaType="com.one.games.domain.vo.GameDetailsVo" resultMap="com.one.games.mapper.GameDetailsMapper.BaseResultMap2">

        </association>
    </resultMap>
   <!--关联图片-->
    <resultMap id="BaseResultMap2" type="com.one.games.domain.vo.GameVo">
        <id column="game_id" jdbcType="INTEGER" property="gameId" />
        <result column="game_name" jdbcType="VARCHAR" property="gameName" />
        <result column="game_status" jdbcType="INTEGER" property="gameStatus" />
        <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />
        <result column="game_id" property="gameId"/>
        <association property="gameImg" resultMap="com.one.games.mapper.GameImgMapper.GameImgResultMap"/>
    </resultMap>

    <!--根据名字查找游戏信息-->
    <select id="search" resultMap="BaseResultMap">
        select *
        from game g
        left join game_details gd on g.game_id = gd.game_id
        left join game_conf gc on gd.game_details_id = gc.game_details_id
        where g.game_name like concat(concat('%',#{gameName}),'%')
    </select>

    <!--根据名字查找游戏图片-->
    <select id="searchImg" resultMap="BaseResultMap2">
        select gi.game_id,gi.game_img_url
        from game g,game_img gi
        where g.game_id=gi.game_id
        and g.game_name  like concat(concat('%',#{gameName}),'%')
    </select>

    <!--游戏图片页面-->
    <select id="gameIndex" resultMap="BaseResultMap">

        select *
        from game g
            left join game_details gd  on g.game_id = gd.game_id
            left join game_img gi on gd.game_id=gi.game_id
    </select>
</mapper>