<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.games.mapper.GameCommentImgMapper">

  <resultMap id="BaseResultMap" type="com.one.games.domain.entity.GameCommentImg">
    <id column="game_comment_img_id" jdbcType="INTEGER" property="gameCommentImgId" />
    <result column="game_comment_id" jdbcType="INTEGER" property="gameCommentId" />
    <result column="game_comment_name" jdbcType="VARCHAR" property="gameCommentName" />
  </resultMap>

</mapper>