<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.games.mapper.GameMapper">

  <resultMap id="GameResultMap" type="com.one.games.domain.vo.GameVo">
    <id column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="game_status" jdbcType="INTEGER" property="gameStatus" />
    <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />

    <collection property="gameImgs"
                resultMap="com.one.games.mapper.GameImgMapper.GameImgResultMap">
    </collection>
  </resultMap>

  <!-- 图片画廊 -->
  <select id="findByGame" resultMap="GameResultMap">
    select g.game_id,g.game_name,img.game_img_url ,img.game_img_id
      from game g
    left join game_img img on g.game_id = img.game_id
    where img.game_img_status = 0 and g.game_status = 0
  </select>


  <!--首页网游推荐-->
  <select id="homeOnlineGameInf" resultMap="bastGame">
    select g.game_id, g.game_name, img.game_img_url
    from game g
      LEFT JOIN game_img img ON g.game_id = img.game_id
    WHERE g.game_status = 0 AND g.game_type_id = 1 AND img.game_img_status = 0;
  </select>

  <resultMap id="bastGame" type="com.one.games.domain.vo.GameVo">
    <id property="gameId" column="game_id"/>
    <result property="gameName" column="game_name"/>
    <result property="gameDetails" column="game_deatils"/>
    <result property="gameGrade" column="game_grade"/>
    <collection property="gameImgs" ofType="com.one.games.domain.entity.GameImg">
      <id property="gameImgId" column="game_img_id"/>
      <result property="gameImgUrl" column="game_img_url"/>
    </collection>
  </resultMap>

  <!--首页最佳游戏榜前四-->
  <select id="bastGame" resultMap="bastGame">
    SELECT g.game_id, g.game_name, g.game_details, g.game_grade, img.game_img_url
    FROM game g
      LEFT JOIN game_img img ON g.game_id = img.game_id
    WHERE g.game_status = 0 ORDER BY g.game_grade DESC LIMIT 4
  </select>

</mapper>