<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.games.mapper.GameMapper">

  <resultMap id="GameResultMap" type="com.one.games.domain.entity.Game">
    <id column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="game_status" jdbcType="INTEGER" property="gameStatus" />
    <result column="game_type_id" jdbcType="INTEGER" property="gameTypeId" />

    <association property="gameImg" resultMap="com.one.games.mapper.GameImgMapper.GameImgResultMap">
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    game_id, game_name, game_status, game_type_id
  </sql>
  <select id="findByGame" resultMap="GameResultMap">
    select g.game_id,g.game_name,img.game_img_url ,img.game_img_id
      from game g
    left join game_img img on g.game_id = img.game_id
    where img.game_img_status = 0 and g.game_status = 0
  </select>


</mapper>